In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("credit_customers (1).csv")

In [6]:
data.head(10)

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad
5,no checking,36.0,existing paid,education,9055.0,no known savings,1<=X<4,2.0,male single,none,...,no known property,35.0,none,for free,1.0,unskilled resident,2.0,yes,yes,good
6,no checking,24.0,existing paid,furniture/equipment,2835.0,500<=X<1000,>=7,3.0,male single,none,...,life insurance,53.0,none,own,1.0,skilled,1.0,none,yes,good
7,0<=X<200,36.0,existing paid,used car,6948.0,<100,1<=X<4,2.0,male single,none,...,car,35.0,none,rent,1.0,high qualif/self emp/mgmt,1.0,yes,yes,good
8,no checking,12.0,existing paid,radio/tv,3059.0,>=1000,4<=X<7,2.0,male div/sep,none,...,real estate,61.0,none,own,1.0,unskilled resident,1.0,none,yes,good
9,0<=X<200,30.0,critical/other existing credit,new car,5234.0,<100,unemployed,4.0,male mar/wid,none,...,car,28.0,none,own,2.0,high qualif/self emp/mgmt,1.0,none,yes,bad

In [7]:
data.isnull().sum()

checking_status           0
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
class                     0
dtype: int64

In [16]:
for i in data.columns:
    try:
        print(f"""column is {i} and number of None is {data[i].value_counts()["none"]} is None""")
    except :
        print("no None")

no None
no None
no None
no None
no None
no None
no None
no None
no None
column is other_parties and number of None is 907 is None
no None
no None
no None
column is other_payment_plans and number of None is 814 is None
no None
no None
no None
no None
column is own_telephone and number of None is 596 is None
no None
no None

In [19]:
data.drop(["other_parties","other_payment_plans","own_telephone","checking_status"], axis = 1, inplace = True)

In [20]:
data

,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,residence_since,property_magnitude,age,housing,existing_credits,job,num_dependents,foreign_worker,class
0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,4.0,real estate,67.0,own,2.0,skilled,1.0,yes,good
1,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,2.0,real estate,22.0,own,1.0,skilled,1.0,yes,bad
2,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,3.0,real estate,49.0,own,1.0,unskilled resident,2.0,yes,good
3,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,4.0,life insurance,45.0,for free,1.0,skilled,2.0,yes,good
4,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,4.0,no known property,53.0,for free,2.0,skilled,2.0,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3.0,female div/dep/mar,4.0,real estate,31.0,own,1.0,unskilled resident,1.0,yes,good
996,30.0,existing paid,used car,3857.0,<100,1<=X<4,4.0,male div/sep,4.0,life insurance,40.0,own,1.0,high qualif/self emp/mgmt,1.0,yes,good
997,12.0,existing paid,radio/tv,804.0,<100,>=7,4.0,male single,4.0,car,38.0,own,1.0,skilled,1.0,yes,good
998,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4.0,male single,4.0,no known property,23.0,for free,1.0,skilled,1.0,yes,bad
999,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3.0,male single,4.0,car,27.0,own,1.0,skilled,1.0,yes,good

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
le = LabelEncoder()

In [31]:
Data_encode = []
for i, dtype in data.dtypes.items():
    if dtype != int and  dtype != float:
        Data_encode.append(i)

In [32]:
Data_encode

['credit_history',
 'purpose',
 'savings_status',
 'employment',
 'personal_status',
 'property_magnitude',
 'housing',
 'job',
 'foreign_worker',
 'class']

In [34]:
for i in Data_encode:
    data[i] = le.fit_transform(data[i])

In [35]:
data

,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,residence_since,property_magnitude,age,housing,existing_credits,job,num_dependents,foreign_worker,class
0,6.0,1,6,1169.0,4,3,4.0,3,4.0,3,67.0,1,2.0,1,1.0,1,1
1,48.0,3,6,5951.0,2,0,2.0,0,2.0,3,22.0,1,1.0,1,1.0,1,0
2,12.0,1,2,2096.0,2,1,2.0,3,3.0,3,49.0,1,1.0,3,2.0,1,1
3,42.0,3,3,7882.0,2,1,2.0,3,4.0,1,45.0,0,1.0,1,2.0,1,1
4,24.0,2,4,4870.0,2,0,3.0,3,4.0,2,53.0,0,2.0,1,2.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12.0,3,3,1736.0,2,1,3.0,0,4.0,3,31.0,1,1.0,3,1.0,1,1
996,30.0,3,9,3857.0,2,0,4.0,1,4.0,1,40.0,1,1.0,0,1.0,1,1
997,12.0,3,6,804.0,2,3,4.0,3,4.0,0,38.0,1,1.0,1,1.0,1,1
998,45.0,3,6,1845.0,2,0,4.0,3,4.0,2,23.0,0,1.0,1,1.0,1,0
999,45.0,1,9,4576.0,0,4,3.0,3,4.0,0,27.0,1,1.0,1,1.0,1,1

In [37]:
data.columns

Index(['duration', 'credit_history', 'purpose', 'credit_amount',
       'savings_status', 'employment', 'installment_commitment',
       'personal_status', 'residence_since', 'property_magnitude', 'age',
       'housing', 'existing_credits', 'job', 'num_dependents',
       'foreign_worker', 'class'],
      dtype='object')

In [38]:
X = data[['duration', 'credit_history', 'purpose', 'credit_amount',
       'savings_status', 'employment', 'installment_commitment',
       'personal_status', 'residence_since', 'property_magnitude', 'age',
       'housing', 'existing_credits', 'job', 'num_dependents',
       'foreign_worker']]

In [39]:
y = data["class"]

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2)

In [42]:
from sklearn.linear_model import LogisticRegression

In [43]:
logR = LogisticRegression()

In [44]:
logR.fit(X_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [45]:
ypred = logR.predict(X_test)

In [46]:
from sklearn.metrics import accuracy_score

In [47]:
accuracy_score(ypred,y_test)

0.66

In [49]:
logR2 = LogisticRegression(solver = "liblinear")
logR2.fit(X_train,y_train)
ypred = logR2.predict(X_test)
accuracy_score(ypred,y_test)

0.665

In [51]:
logR3 = LogisticRegression(solver = "sag")
logR3.fit(X_train,y_train)
ypred = logR3.predict(X_test)
accuracy_score(ypred,y_test)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

0.705

In [52]:
logR4 = LogisticRegression(solver = "saga")
logR4.fit(X_train,y_train)
ypred = logR4.predict(X_test)
accuracy_score(ypred,y_test)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

0.705

In [53]:
logR5 = LogisticRegression(solver = "newton-cg")
logR5.fit(X_train,y_train)
ypred = logR5.predict(X_test)
accuracy_score(ypred,y_test)

0.67