In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("IceCreamSales.csv")

In [4]:
data

    Unnamed: 0  Temperature  IceCreamSales
0            0    21.952540   21200.216232
1            1    28.607575   46969.537759
2            2    24.110535   28155.054323
3            3    21.795327   20730.330804
4            4    16.946192    9907.404501
..         ...          ...            ...
95          95     7.327654     920.989509
96          96    23.460517   25884.973575
97          97     0.804302      66.563119
98          98    33.157601   72985.915190
99          99     0.187819     100.887209

[100 rows x 3 columns]

In [5]:
data.drop("Unnamed: 0", axis = 1 , inplace = True)

In [6]:
data

    Temperature  IceCreamSales
0     21.952540   21200.216232
1     28.607575   46969.537759
2     24.110535   28155.054323
3     21.795327   20730.330804
4     16.946192    9907.404501
..          ...            ...
95     7.327654     920.989509
96    23.460517   25884.973575
97     0.804302      66.563119
98    33.157601   72985.915190
99     0.187819     100.887209

[100 rows x 2 columns]