In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data_to_be_standardized.csv")

In [3]:
data.head()

   Unnamed: 0  Customer ID  Age  Income  Spending Habits
0           0            1   25   50000             1000
1           1            2   35  100000             2000
2           2            3   45  150000             3000
3           3            4   55  200000             4000
4           4            5   65  250000             5000

In [4]:
data.drop("Unnamed: 0", axis = 1, inplace = True)

In [5]:
data

   Customer ID  Age  Income  Spending Habits
0            1   25   50000             1000
1            2   35  100000             2000
2            3   45  150000             3000
3            4   55  200000             4000
4            5   65  250000             5000
5            6   75  300000             6000
6            7   85  350000             7000
7            8   95  400000             8000
8            9  105  450000             9000
9           10  115  500000            10000

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
s_scaler = StandardScaler()

In [9]:
data.columns

Index(['Customer ID', 'Age', 'Income', 'Spending Habits'], dtype='object')

In [10]:
scaled_data= s_scaler.fit_transform(data[['Age', 'Income', 'Spending Habits']])

In [11]:
scaled_data

array([[-1.5666989 , -1.5666989 , -1.5666989 ],
       [-1.21854359, -1.21854359, -1.21854359],
       [-0.87038828, -0.87038828, -0.87038828],
       [-0.52223297, -0.52223297, -0.52223297],
       [-0.17407766, -0.17407766, -0.17407766],
       [ 0.17407766,  0.17407766,  0.17407766],
       [ 0.52223297,  0.52223297,  0.52223297],
       [ 0.87038828,  0.87038828,  0.87038828],
       [ 1.21854359,  1.21854359,  1.21854359],
       [ 1.5666989 ,  1.5666989 ,  1.5666989 ]])

In [14]:
unscaled_data=s_scaler.inverse_transform(scaled_data)

In [15]:
unscaled_data

array([[2.50e+01, 5.00e+04, 1.00e+03],
       [3.50e+01, 1.00e+05, 2.00e+03],
       [4.50e+01, 1.50e+05, 3.00e+03],
       [5.50e+01, 2.00e+05, 4.00e+03],
       [6.50e+01, 2.50e+05, 5.00e+03],
       [7.50e+01, 3.00e+05, 6.00e+03],
       [8.50e+01, 3.50e+05, 7.00e+03],
       [9.50e+01, 4.00e+05, 8.00e+03],
       [1.05e+02, 4.50e+05, 9.00e+03],
       [1.15e+02, 5.00e+05, 1.00e+04]])

In [16]:
## Normalization

In [17]:
from sklearn.preprocessing import MinMaxScaler

In [18]:
mm_scaler= MinMaxScaler()

In [19]:
mm_scaled_data= mm_scaler.fit_transform(data[['Age', 'Income', 'Spending Habits']])

In [20]:
mm_scaled_data

array([[0.        , 0.        , 0.        ],
       [0.11111111, 0.11111111, 0.11111111],
       [0.22222222, 0.22222222, 0.22222222],
       [0.33333333, 0.33333333, 0.33333333],
       [0.44444444, 0.44444444, 0.44444444],
       [0.55555556, 0.55555556, 0.55555556],
       [0.66666667, 0.66666667, 0.66666667],
       [0.77777778, 0.77777778, 0.77777778],
       [0.88888889, 0.88888889, 0.88888889],
       [1.        , 1.        , 1.        ]])

In [21]:
## Label Encoder

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
le=LabelEncoder()

In [32]:
data['Gender']= ['f','m','m','f','m','f','f','f','f','m']

In [33]:
data['Gender_LE']=le.fit_transform(data['Gender'])

In [34]:
data

   Customer ID  Age  Income  Spending Habits Gender  Gender_LE
0            1   25   50000             1000      f          0
1            2   35  100000             2000      m          1
2            3   45  150000             3000      m          1
3            4   55  200000             4000      f          0
4            5   65  250000             5000      m          1
5            6   75  300000             6000      f          0
6            7   85  350000             7000      f          0
7            8   95  400000             8000      f          0
8            9  105  450000             9000      f          0
9           10  115  500000            10000      m          1

In [35]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()

In [39]:
data[['Gender_F_OHE','Gender_M_OHE']]= ohe.fit_transform(data[['Gender']]).toarray()

In [40]:
data

,Customer ID,Age,Income,Spending Habits,Gender,Gender_LE,Gender_F_OHE,Gender_M_OHE
0,1,25,50000,1000,f,0,1.0,0.0
1,2,35,100000,2000,m,1,0.0,1.0
2,3,45,150000,3000,m,1,0.0,1.0
3,4,55,200000,4000,f,0,1.0,0.0
4,5,65,250000,5000,m,1,0.0,1.0
5,6,75,300000,6000,f,0,1.0,0.0
6,7,85,350000,7000,f,0,1.0,0.0
7,8,95,400000,8000,f,0,1.0,0.0
8,9,105,450000,9000,f,0,1.0,0.0
9,10,115,500000,10000,m,1,0.0,1.0

In [41]:
data['Gender_F_OHE'] = data['Gender_F_OHE'].astype('int')

In [42]:
data['Gender_M_OHE'] = data['Gender_M_OHE'].astype('int')

In [43]:
data

,Customer ID,Age,Income,Spending Habits,Gender,Gender_LE,Gender_F_OHE,Gender_M_OHE
0,1,25,50000,1000,f,0,1,0
1,2,35,100000,2000,m,1,0,1
2,3,45,150000,3000,m,1,0,1
3,4,55,200000,4000,f,0,1,0
4,5,65,250000,5000,m,1,0,1
5,6,75,300000,6000,f,0,1,0
6,7,85,350000,7000,f,0,1,0
7,8,95,400000,8000,f,0,1,0
8,9,105,450000,9000,f,0,1,0
9,10,115,500000,10000,m,1,0,1